body {
    background: #020F27;
    font-weight: bold;
}

.vazio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 90px;
    align-items: center;
    height: 60%;
    text-align: center;
}

.vazio a {
    width: 400px;
    font-size: 30px;
    border-radius: 15px;
    padding: 1rem;
    font-weight: 0;
    background-color: #694aab;
    box-shadow: inset 0px 0px 39px -12px rgba(38, 14, 105, 1);
    transition: 0.3s;
}

.vazio a:hover {
    background: #8860dc;
    color: white;
}

.Titulo {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 40px;
    margin: 15px 100px;
    gap: 10px
}

.tudo {
    margin-inline: 100px;
}

.cep {
    display: flex;
    width: 40%;
    flex-direction: column;
    background-color: #031D4E;
    box-shadow: inset 0px 0px 39px -12px rgba(38, 14, 105, 1);
    outline: #7f7ffec2 solid 0.013rem;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 300px;
    gap: 5px;
    padding-bottom: 2rem;
}

.cep2 {
    display: flex;
    flex-direction: row;

}

.cep2 input {
    color: black;
    border-width: 2px;
    border-color: #cccccc;
    border-style: solid;
    font-size: 18px;
    padding: 4px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    font-weight: normal;
}

.cepT {
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
    margin-inline: 20px;
    margin-bottom: 5px;
}

.cupom {
    display: flex;
    margin-inline: 20px;
}

.cep3 {
    display: flex;
    flex-direction: row;
}

.cupom button {
    display: flex;
    align-items: center;
    padding-inline: 8px;
    height: 36px;
    background-color: #694aab;
    box-shadow: inset 0px 0px 39px -12px rgba(38, 14, 105, 1);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: 0.3ms;
    cursor: pointer;

}

.cupom button:hover {
    background-color: #3e8e41;
    color: white;
}


.cep3 button {
    display: flex;
    align-items: center;
    padding-inline: 8px;
    height: 36px;
    background-color: #694aab;
    box-shadow: inset 0px 0px 39px -12px rgba(38, 14, 105, 1);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: 0.3s;
    cursor: pointer;
}

.cep3 button:hover {
    background-color: #3a2764;
    color: white;

}

.cart {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 10px;
    height: auto;
}


.Produtos {
    
    background-color: #031D4E;
    box-shadow: inset 0px 0px 39px -12px rgba(38, 14, 105, 1);
    outline: #7f7ffec2 solid 0.013rem;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 500px;
}


.ProdutosT {
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
    margin-inline: 20px;
}

.ProdutosT button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 1rem;
    background: #6d0606;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.ProdutosT button:hover {
    background: #820808;
    color: white;
}

.ProdutosT2 {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    width: 1400px;
    height: 230px;
    overflow: hidden;
    padding: 30px;
}

.box img {
    max-width: 190px;
    max-height: 190px;
    min-width: 190px;
    min-height: 190px;
    object-fit: cover;
}

.nome {
    width: 500px;
}

.price {
    font-size: 30px;
}

.content {
    display: flex;
    gap: 50px;
    padding: 20px;
    width: 100%;
}

.qr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr select {
    padding: 0.5rem;
    outline: #7f7ffec2 solid 0.013rem;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    scroll-behavior: smooth;
    background: #020F27;
    padding: 0.5rem;
}

.qr select:focus-within {
    background: #020F27;
    outline: #7f7ffec2 solid 0.013rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
}


.remove {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin-top: 8px;
    background: #6d0606;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    font-weight: bold;
    
}

.remove:hover {
    background: #820808;
    color: white;

}

.right-bar {

    background-color: #031D4E;
    box-shadow: inset 0px 0px 39px -12px rgba(38, 14, 105, 1);
    outline: #7f7ffec2 solid 0.013rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: sticky;
    max-width: 19.5rem;
    gap: 10PX;
    align-self: flex-start;
    top: 2rem;
    padding: 1rem;
    font-size: 30px;

}

.pagamento {
    display: flex;
    justify-content: center;
}

.pagamento button {
    padding: 1rem;
    background-color: #694aab;
    box-shadow: inset 0px 0px 39px -12px rgba(38, 14, 105, 1);
    font-size: 18px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
}

.pagamento button:hover {
    background-color: #3a2764;
    color: white;
}

.total {
    text-align: center;
}


