

body {
    background: #020F27;
}

.tudotudo {
 display: flex;
 justify-content: center;
}
.tudotudotudo {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 300px;
    align-items: center;
    gap:10px;
    border-radius: 15px;
    padding: 1.5rem;
    background-color: #031D4E;
    box-shadow: inset 0px 0px 39px -12px rgba(38,14,105,1);
    outline: #7f7ffec2 solid 0.013rem;
}
.img {
    display: flex;
}
.img img {
    max-width: 400px;
}
.meio {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    
}
.meio label {
    color: #5eff00;
    font-size: 40px;
    font-weight: bold;
}
.fa-face-laugh-beam {
    font-size: 40px;
}
.meio p {
    font-size: 15PX;
}
.meio a {
    font-weight: bold;
    text-decoration: underline ;
}
.direita {
    display: flex;

    color: #031D4E;
}

.direita img {
    max-width: 400px;
}