body {
    background: #020f27;
}
.tudoF {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #031D4E;
    box-shadow: inset 0px 0px 39px -12px rgba(38,14,105,1);
    outline: #7f7ffec2 solid 0.013rem;
    margin-inline: 120px;
    padding: 1rem;
    margin-top: 30px;
    margin-bottom: 300px;
    gap: 15px;
}
.T {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40PX;
    gap: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}
.text {
    color: black;
}
.text textarea {
    color: #020f27;
    border: 2px solid rgb(0, 0, 0); 
    resize: none;
    overflow: auto;
    padding: 1rem;
    width: 1000px;
    border-radius: 15px;
}
.checkT {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.check {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 20PX;
    font-weight: bold;
    margin-left: 5px;
}
.check input {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 2rem;
      /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}



.textareaT {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btnComprar {
    display: flex;
    width: 100%;
}
.btnComprar button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #694aab;
    box-shadow: inset 0px 0px 39px -12px rgba(38, 14, 105, 1);
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    gap: 10px;
}
label {
    font-size: 25px;
    font-weight: bold;
}
.tudoF2 {
    display: flex;
    flex-direction: column;
}
#impressao {

    width: 500px;
    
}