
body {
    background: #020F27;
}
.tudologin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 700px;
    background: #020F27;
    margin-top: 50px;
    
    margin-bottom: 500px;
    gap: 30px;
}


.card2 {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap:10px;
    border-radius: 15px;
    padding: 1.5rem;
    width: 600px;
    height: 650px;
    background-color: #031D4E;
    box-shadow: inset 0px 0px 39px -12px rgba(38,14,105,1);
    outline: #7f7ffec2 solid 0.013rem;
}

.cardT {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}


.formu {
    display: flex;
    justify-content: center;
    width: 500px;
}

.formu input {
    color: black;
    width: 500px;
    border-width: 2px;
    border-color: #cccccc;
    border-style: solid;
    font-size: 18px;
    padding: 4px;
    border-radius: 7px;
    font-weight: normal;
    padding: 1rem;
    margin: 10PX;
}

.formu input::placeholder {
    font-size: 20px;
    color: black;
}
.formu a {
    margin: 15px;
}

.btentrar, .ircadastro {
    width: 500px;
    padding: 1rem;
    text-align: center;
    background-color: #694aab;
    box-shadow: inset 0px 0px 39px -12px rgba(38, 14, 105, 1);
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    margin: 10PX;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
}
.btentrar:hover, .ircadastro:hover {
    background-color: #3a2764;
    color: white;
}
.cardcadastrar {
    display: flex;
    justify-content: center;
}
.cadastrar {
    width: 500px;
    padding: 1rem;
    text-align: center;
    background-color: #694aab;
    box-shadow: inset 0px 0px 39px -12px rgba(38, 14, 105, 1);
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    margin: 10PX;
    transition: 0.3s;
}
.cadastrar:hover {
    background-color: #3a2764;
    color: white;
}

.fa-solid, .fa-right-to-bracket {
    font-weight: bold;
    margin-right: 10px;
}
.logado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 90px;
    gap:15px;
    align-items: center;
    height: 60%;
    text-align: center;
    font-weight: bold;
}


.logado a {
    width: 400px;
    font-size: 30px;
    border-radius: 15px;
    padding: 1rem;
    font-weight: bold;
    background-color: #694aab;
    box-shadow: inset 0px 0px 39px -12px rgba(38, 14, 105, 1);
    transition: 0.3s;
}

.logado a:hover {
    background: #8860dc;
    color: white;
}
