body {
    display: flex;
    background: #020F27;
    flex-direction: column;
}
.tudo {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-inline: 120px;
    gap:10px;

    background-color: #031D4E;
    box-shadow: inset 0px 0px 39px -12px rgba(38,14,105,1);
    outline: #7f7ffec2 solid 0.013rem;
    border-radius: 10px;
    padding: 1rem;
}
.informacoes {
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-bottom: 5px;
}
.imagem img {
    max-width: 300px;
}
.titulo {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}
.titulo label {
    font-size: 40px;
    font-weight: bold;
}
.titulo span {
    font-size: 20px;
}
.titulo input {
    background: none ;
    border: none;
    outline: none;
    font-size: 20px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
.pedidos {
    display: flex;
   flex-direction: column;
   
}
.ptitulo {
    margin-inline: 50px;
    font-size: 40px;
    margin-bottom: 20px;
}
.compras {
    display: flex;
    background: #020F27;
    border-radius: 15px;
    
    padding: 1rem;
    gap: 30px;
    margin-inline: 50px;
    margin-bottom: 20px;
}
.info1 {
    display: flex;
    
    flex-direction: column;
    font-size: 20px;
}
.info1 a {
    margin-bottom: 4px;
    font-weight: bold;
    max-width: 18.75rem;
}
.nome {
    max-width: 50rem;
}