body {
    background: #020F27;
}
.produto {
    display: flex;
    margin-top: 50px;
    margin-inline: 150px;

    align-items: center;
    margin-bottom: 300px;
    background-color: #031D4E;
    box-shadow: inset 0px 0px 39px -12px rgba(38, 14, 105, 1);
    outline: #7f7ffec2 solid 0.013rem;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 300px;
    gap: 15px;
    padding-bottom: 2rem; 
}
.imgProduto {
    overflow: hidden;
    margin: 2rem;
    border: solid #7f7ffec2  0.013rem;
    border-radius: 1rem;
}
.imgProduto img {
    width: 550px;
    height: 550px;
    transition: all 0.8s ease;

}
.imgProduto img:hover {
    transform: scale(1.05);
}
.informacoes {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.informacoes .nome {
    font-size: 20px;
    font-weight: bold;
    max-width: 750px;
}
.preco {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.preco a {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.2rem;
    align-items: center;

}
.preco label{
    font-size: 40px;
    font-weight: bold;
}
.precopix {
    display: flex;
    flex-direction: column;
    font-size: 14px;

}
.precopix label {
    font-size: 40px;
    font-weight: bold;
}
.fa-barcode {
    display: flex;
    font-size: 40px;
}
 button {

    width: 90%;
    padding: 1rem;
    background-color: #694aab;
    box-shadow: inset 0px 0px 39px -12px rgba(38, 14, 105, 1);
    font-size: 18px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: #3a2764;
    color: white;
}
.cartao {
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-bottom: 15px;
}
.parcelamento {
    display: flex;
    flex-direction: column;

}
.linha {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 1rem;
}
.parcelamentot {
    display: flex;
    flex-direction: column;
}
.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}